<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">




	<import resource="hibernateSetup.xml" />
	<import resource="spring-di-dao.xml" />
	
	<!--Modules Start  -->
	<import resource="spring-di-index.xml" />
	<import resource="spring-di-login.xml" />
	<import resource="spring-di-addproduct.xml" />
	<import resource="spring-di-userregistration.xml" />
	<import resource="spring-di-viewproduct.xml" />
	<import resource="spring-di-search.xml" />
	<import resource="spring-di-cart.xml" />
	<import resource="spring-di-productManagement.xml" />
	<import resource="spring-di-order.xml" />
	<import resource="spring-di-payment.xml" />
	<import resource="spring-di-profileManagement.xml" />
	<import resource="spring-di-help.xml" />
	
	<!-- Modules End  -->
	
	

	<bean id="userProfile" class="com.sessionBeans.UserProfile" scope="session">
	</bean>


</beans>
