<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="paymentAction" class="payment.action.PaymentAction"
		scope="request">
		<property name="paymentAppService" ref="paymentAppService" />
		<property name="context" ref="paymentAppContext" />
	</bean>

	<bean id="paymentAppService" class="payment.appService.PaymentAppService"
		scope="request">
		<property name="paymentsDao" ref="paymentsDao" />
		<property name="userProfile" ref="userProfile" />
		<property name="productsDao" ref="productsDao" />
		<property name="usersDao" ref="usersDao" />
	</bean>

	<bean id="paymentAppContext" class="payment.PaymentAppContext"
		scope="session">
	</bean>

</beans>
