<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="loginAction" class="login.action.LoginAction">
		<property name="loginAppService" ref="loginAppService" />
	</bean>

	<bean id="loginAppService" class="login.appService.LoginAppService">
		<property name="loginDao" ref="loginDao" />
	</bean>
	
	<bean id="loginDao" class="login.dao.LoginDao">
			<property name="template" ref="template"></property>
	</bean>

</beans>
