<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="applicationContextProvder" class="com.util.ApplicationContextProvider" />

	<bean id="productsDao" class="com.dao.ProductsDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="loginDao" class="com.dao.LoginDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="usersDao" class="com.dao.UsersDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="imagesDao" class="com.dao.ImagesDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="rentOffersDao" class="com.dao.RentOffersDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="ordersDao" class="com.dao.OrdersDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="paymentsDao" class="com.dao.PaymentsDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="addressDao" class="com.dao.AddressDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="credentialsDao" class="com.dao.CredentialsDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="helpDao" class="com.dao.HelpDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="dynamicContentDao" class="com.dao.DynamicContentDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="currentHoldingsDao" class="com.dao.CurrentHoldingsDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="servicesDao" class="com.dao.ServicesDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="serviceRequestDao" class="com.dao.ServiceRequestDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="placesDao" class="com.dao.PlacesDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="facilitiesDao" class="com.dao.FacilitiesDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="imagesGalleryDao" class="com.dao.ImagesGalleryDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="priceDetailsDao" class="com.dao.PriceDetailsDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="exposeContextBeansAsAttributes" value="true" />
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>