<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="productManagementAction" class="productManagement.action.ProductManagementAction"
		scope="request">
		<property name="productManagementAppService" ref="productManagementAppService" />
		<property name="context" ref="productManagementAppContext" />

	</bean>

	<bean id="productManagementAppService"
		class="productManagement.appService.ProductManagementAppService"
		scope="request">
		<property name="productsDao" ref="productsDao" />
		<property name="userProfile" ref="userProfile" />
		<property name="searchProductProjector" ref="searchProductProjector" />
		<property name="imagesDao" ref="imagesDao" />
		<property name="rentOffersDao" ref="rentOffersDao" />
		<property name="viewProductAppService" ref="viewProductAppService" />
	</bean>


	<bean id="productManagementAppContext" class="productManagement.ProductManagementAppContext"
		scope="session">
	</bean>


</beans>
