<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="userRegistration.action.UserRegistrationAction" class="userRegistration.action.UserRegistrationAction"
		scope="request">
		<property name="userRegistrationAppService" ref="userRegistrationAppService" />
		<property name="context" ref="userRegistrationContext" />
	</bean>

	<bean id="userRegistrationAppService" class="userRegistration.appService.UserRegistrationAppService"
		scope="request">
		<property name="usersDao" ref="usersDao" />
		<property name="loginDao" ref="loginDao" />
		<property name="userRegistrationProjector" ref="userRegistrationProjector" />
		<property name="userProfile" ref="userProfile" />
	</bean>

	<bean id="userRegistrationProjector" class="userRegistration.projector.UserRegistrationProjector"
		scope="request">
	</bean>

	<bean id="userRegistrationContext" class="userRegistration.UserRegistrationAppContext"
		scope="session">
	</bean>


</beans>
