<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="loginAction" class="login.action.LoginAction" scope="request">
		<property name="loginAppService" ref="loginAppService" />
	</bean>

	<bean id="loginAppService" class="login.appService.LoginAppService" scope="request">
		<property name="loginDao" ref="loginDao" />
		<property name="loginProjector" ref="loginProjector" />
	</bean>
	
	<bean id="loginProjector" class="login.projector.LoginProjector" scope="request"> 
	</bean>
	
	<bean id="context" class="login.LoginAppContext" scope="session">
	</bean>

</beans>
