<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userProfile" class="com.sessionBeans.UserProfile" scope="session">
	</bean>

	<bean id="applicationContextProvder" class="com.util.ApplicationContextProvider" />

	<bean id="productsDao" class="com.dao.ProductsDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="loginDao" class="com.dao.LoginDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="usersDao" class="com.dao.UsersDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="imagesDao" class="com.dao.ImagesDao">
		<property name="template" ref="template"></property>
	</bean>
	
	<bean id="rentOffersDao" class="com.dao.RentOffersDao">
		<property name="template" ref="template"></property>
	</bean>

</beans>