<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="exampleAction" class="com.action.ExampleAction">
		<property name="exampleDao" ref="exampleDao" />
	</bean>

	<bean id="exampleDao" class="com.dao.impl.ExampleDaoImpl" />

</beans>
