<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="addProduct.action.AddProductAction" class="addProduct.action.AddProductAction" scope="request">
		<property name="addProductAppService" ref="addProductAppService" />
		<property name="context" ref="addProductContext" />
	</bean>

	<bean id="addProductAppService" class="addProduct.appService.AddProductAppService" scope="request">
		<property name="productsDao" ref="productsDao" />
		<property name="rentOffersDao" ref="rentOffersDao" />
		<property name="addProductProjector" ref="addProductProjector" />
		<property name="imagesDao" ref="imagesDao" />
		<property name="userProfile" ref="userProfile" />
	</bean>


	<bean id="addProductProjector" class="addProduct.projector.AddProductProjector" scope="request">
	</bean>
	
	<bean id="addProductContext" class="addProduct.AddProductAppContext" scope="session">
	</bean>
	
	

</beans>
