<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="addToCartAction" class="addToCart.action.AddToCartAction"
		scope="request">
		<property name="addToCartAppService" ref="addToCartAppService" />
		<property name="context" ref="addToCartAppContext" />

	</bean>

	<bean id="addToCartAppService" class="addToCart.appService.AddToCartAppService"
		scope="request">
		<property name="addToCartProjector" ref="addToCartProjector" />
		<property name="usersDao" ref="usersDao" />
	</bean>

	<bean id="addToCartProjector" class="addToCart.projector.AddToCartProjector"
		scope="request">
	</bean>

	<bean id="addToCartAppContext" class="addToCart.AddToCartAppContext"
		scope="session">
	</bean>


</beans>
