<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="loadIndexAction" class="loadIndex.action.LoadIndexAction"
		scope="request">
		<property name="productManagementAppService" ref="productManagementAppService" />
		<property name="context" ref="loadIndexContext" />
		
	</bean>
	<bean id="loadIndexContext" class="loadIndex.LoadIndexContext"
		scope="session">
	</bean>

</beans>
