<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="addProductAction" class="addProduct.action.AddProductAction">
		<property name="addProductAppService" ref="addProductAppService" />
	</bean>

	<bean id="addProductAppService" class="addProduct.appService.AddProductAppService">
		<property name="addProductDao" ref="addProductDao" />
		<property name="addProductProjector" ref="addProductProjector" />
	</bean>

	<bean id="addProductDao" class="addProduct.dao.AddProductDao">
		<property name="template" ref="template"></property>
	</bean>

	<bean id="addProductProjector" class="addProduct.projector.AddProductProjector">
	</bean>

</beans>
